.wrap {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  &--header {
    max-width: 1133px;
  }

  &--subscribe {
    max-width: 1271px;
    flex-direction: row;
  }

  &--testimonials {
    max-width: 1185px;
  }

  &--pricing {
    max-width: 876px;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: start;
  }

  &--page-footer {
    max-width: 1036px;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media screen and (max-width: 1080px) {
  .wrap {
    padding: 0 40px;
  }
}

@media screen and (max-width: 500px) {
  .wrap {
    padding: 0 20px;
  }

  .wrap--features {
    padding: 0 16px;
  }
}