.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 49px;
  width: 100%;
}

.header-menu__logo {
  display: block;
  align-self: center;
  padding-left: 11px;
  min-width: 220px;
}

.header-menu__list {
  display: flex;
  align-items: center;
}

.header-menu__item {
  margin-right: 41px;
  &:last-of-type {
    margin-right: 0;
  }
}

.header-menu__link {
  @include font(15, 27, 400);
  text-align: center;
  letter-spacing: 0.2px;
  color: $light-text-color;
}

.page-header__login-button {
  display: none;
}

.header-menu__subscribe {
  display: flex;
  justify-content: space-between;
  border: none;
}

.header-menu__email {
  padding: 19px 49px;
  margin-right: 12px;

  background: #EFEFEF;
  border: 1px solid #E8E8E8;
  border-radius: 39px;
  opacity: 0.12;

  @include font(14, 16,400);
  letter-spacing: 0.1px;
  color: #18171D;
}

.header-menu__subscribe-button {
  padding: 19px 38px;
  background: $light-background-color;
  border-radius: 39px;
  border: none;
  cursor: pointer;

  @include font(16, 16, 500);
  letter-spacing: 0.2px;
  color: $primary-text-color;
}

.header-menu__mobile-container {
  display: none;
}

.header-menu__mobile-menu {
  display: none;
  position: relative;
  padding: 0;
  width: 27px;
  height: 16px;
  border: none;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
}

.header-menu__mobile-menu span {
  height: 3px;
  background-color: #fff;
  position: absolute;
  right: 0;
  transition: all 0.5s ease-in-out;
}

.header-menu__mobile-menu span:nth-of-type(1) {
  width: 33%;
  top: 13px;
}

.header-menu__mobile-menu span:nth-of-type(2) {
  width: 66%;
  top: 7px;
}

.header-menu__mobile-menu span:nth-of-type(3) {
  width: 100%;
  top: 0;
}

@media screen and (max-width: 1080px) {
  .header-menu__form {
    display: none;
  }

  .page-header__login-button {
    display: block;
  }

  .header-menu__logo {
    padding-left: 15px;
  }
}

@media screen and (max-width: 857px) {

  .header-menu {
    flex-wrap: wrap;
    padding-top: 28px;
  }

  .header-menu__logo {
    min-width: 186px;
  }

  .header-menu__nav {
    display: none;
    order: 5;
    width: 100%;
  }

  .header-menu__list {
    flex-direction: column;
    width: 50%;
    padding-top: 20px;
    margin-left: auto;
  }

  .open {
    height: 27px;
    span:nth-of-type(2) {
      transform: translateX(-50px);
      background-color: transparent;
    }

    span:nth-of-type(1) {
      transform: rotate(45deg);
      top: 50%;
      width: 100%;
    }

    span:nth-of-type(3) {
      transform: rotate(-45deg);
      top: 50%;
    }
  }

  .header-menu__item {
    width: 100%;
    margin-right: 0;
    border-bottom: 2px solid $light-background-color;
    margin-bottom: 20px;
    cursor: pointer;
    &:hover {
      opacity: 0.45;
      transition: 0.5s;
      padding-left: 20px;
    }
  }

  .header-menu__mobile-container,
  .header-menu__mobile-menu {
    display: block;
  }

  .page-header__intro {
    padding: 103px 40px 0 40px;
  }
}

@media screen and (max-width: 500px) {
  .header-menu {
    justify-content: space-between;
  }

  .header-menu__logo {
    padding: 0;
  }

  .page-header__login-button {
    margin-right: 15px;
  }

  .page-header__title {
    @include font(46, 57,400);
  }

  .page-header__text {
    max-width: 325px;
    margin-bottom: 69px;
  }

  .page-header__button {
    margin-bottom: 66px;
  }

  .page-header__intro {
    padding: 0;
    padding-top: 103px;
  }

  .page-header__img {
    margin-bottom: 72px;
  }
}

.active {
  display: flex;
  top: 87px;
}
