.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 49px;
}

.header-menu__logo {
  display: block;
  align-self: center;
  padding-left: 30px;
  min-width: 220px;
}

.header-menu__list {
  display: flex;
  align-items: center;
}

.header-menu__item {
  margin-right: 41px;
  &:last-of-type {
    margin-right: 0;
  }
}

.header-menu__link {
  @include font(15, 27, 400);
  text-align: center;
  letter-spacing: 0.2px;
  color: $light-text-color;
}

.page-header__login-button {
  display: none;
}

.header-menu__subscribe {
  display: flex;
  justify-content: space-between;
  border: none;
}

.header-menu__email {
  padding: 19px 49px;
  margin-right: 12px;

  background: #EFEFEF;
  border: 1px solid #E8E8E8;
  border-radius: 39px;
  opacity: 0.12;

  @include font(14, 16,400);
  letter-spacing: 0.1px;
  color: #18171D;
}

.header-menu__subscribe-button {
  padding: 19px 38px;
  background: $light-background-color;
  border-radius: 39px;
  border: none;
  cursor: pointer;

  @include font(16, 16, 500);
  letter-spacing: 0.2px;
  color: $primary-text-color;
}


@media screen and (max-width: 1080px){
  .header-menu__form {
    display: none;
  }

  .page-header__login-button {
    display: block;
  }

  .header-menu__logo {
    padding-left: 15px;
  }
}

@media screen and (max-width: 857px){
  .header-menu__nav {
    display: none;
  }
}