.plans {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: $background-gradient;
  padding-top: 100px;
}

.plans__subtitle {
  margin: 0;
  margin-bottom: 17px;

  @include font(22, 33, 700);
  color: $light-text-color;
  letter-spacing: 0.1px;
  text-align: center;
}

.plans__title {
  margin: 0;
  margin-bottom: 27px;

  @include font(46, 57, 400);
  color: $light-text-color;
  letter-spacing: 0.2px;
  text-align: center;
}

.plans__text {
  margin: 0 auto;
  margin-bottom: 90px;
  width: 300px;

  @include font(16, 20, 700);
  color: $light-text-color;
  letter-spacing: 0.2px;
  text-align: center;
}

.plans__links {
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.plans_buttons-buy {
  padding: 18px 31px;
  background-color: $light-background-color;
  border-radius: 35px;
  margin-right: 16px;

  @include font(16, 16, 500);
  color: $primary-text-color;
  letter-spacing: 0.2px;
}

.plans_buttons-try {
  padding: 16px 45px;
  background-color: transparent;
  border: 1px solid $light-background-color;
  border-radius: 35px;

  @include font(16, 16, 500);
  color: $light-text-color;
  letter-spacing: 0.2px;
}