.plans {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(39.97deg, #00F3B9 0.79%, #2187FF 79.29%);
}

.features__subtitle {
  margin: 0;
  margin-top: 100px;
  margin-bottom: 17px;

  @include font(22, 33, 700);
  color: #FFFFFF;
  letter-spacing: 0.1px;
}

.features__title {
  margin: 0;
  margin-bottom: 27px;

  @include font(46, 57, 400);
  color: #FFFFFF;
  letter-spacing: 0.2px;
}

.features__text {
  margin: 0;
  margin-bottom: 90px;
  width: 300px;

  @include font(16, 20, 700);
  color: #FFFFFF;
  letter-spacing: 0.2px;
}

.plans__links {
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.plans_buttons-buy {
  padding: 18px 31px;
  background-color: #ffffff;
  border-radius: 35px;
  margin-right: 16px;

  @include font(16, 16, 500);
  color: #2091F9;
  letter-spacing: 0.2px;
}

.plans_buttons-try {
  padding: 18px 45px;
  background-color: transparent;
  border: 1px solid #FFFFFF;
  border-radius: 35px;

  @include font(16, 16, 500);
  color: #FFFFFF;
  letter-spacing: 0.2px;
}