.testimonials {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 111px;
}
.testimonials__title {
  margin: 0;
  margin-bottom: 38px;

  @include font(46, 57, 400);
  color: $dark-text-color;
  letter-spacing: 0.2px;
}

.testimonials__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 26px;
}

.testimonials__item {
  padding: 52px 30px;
  min-width: 335px;
}

.testimonials__item-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 335px;
  background: $light-background-color;
  box-shadow: 0 13px 19px rgba(0, 0, 0, 0.07);
  border: 1px solid #DEDEDE;
  border-radius: 10px;
  padding: 40px 41px 49px 42px;
}

.testimonials__img {
  margin-bottom: 39px;
}

.testimonials__text {
  text-align: center;
  margin: 0;
  margin-bottom: 39px;

  @include font(18, 27, 400);
  color: $dark-text-color;
  letter-spacing: 0.2px;
}

.testimonials__rating {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 37px;
}

.rating {
  position: relative;
  padding-left: 25px;
  margin-left: 5px;
  margin-bottom: 25px;
  &:before {
    position: absolute;
    content: '';
    width: 27px;
    height: 27px;
    left: 0;
    top: 50%;
    background: url(../img/fill-star.svg) no-repeat;
  }

  &:last-of-type {
    &:before {
      background: url(../img/empty-star.svg) no-repeat;
    }
  }
}

.testimonials__name {
  margin: 0;
  margin-bottom: 8px;

  @include font(15, 27, 400);
  color: $dark-text-color;
  letter-spacing: 0.2px;
}

.testimonials__position {
  margin: 0;

  @include font(12, 18, 700);
  color: $dark-text-color;
  letter-spacing: 0.2px;
}

.testimonials__link {
  padding: 16px 47px;
  background: $primary-background-color;
  border-radius: 35px;
  margin-bottom: 100px;

  @include font(22, 33, 700);
  color: $light-text-color;
  letter-spacing: 0.1px;
}